/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-toolbar-color: white;
    --ion-margin: 24px;
}

ion-toolbar {
    --color: white;
    --background: #255799;
}

ion-searchbar {
    --background: white;
}

ion-tab-bar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 285px;
    height: 54px;
    border-radius: 20px;

    --background: #255799;
    --color: white;
    --color-selected: #fecc07;
}
