.club-carousel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    padding: 8px;
    gap: 12px;
    scroll-behavior: smooth;
}

.club-carousel>* {
    min-width: 160px;
    flex: 0 0 auto;
}
